h1 {
    text-align: center;
}

.song-form {
    display: flex;
    justify-content: space-evenly;
}

.song-text {
    flex-basis: 20%;
}

.artist-text {
    flex-basis: 20%;
}

.genre-selection {
    flex-basis: 20%;
}

.rating-selection {
    flex-basis: 20%;
}

.song-header {
    display: flex;
    justify-content: space-evenly; 
}

.song-header__item {
    font-weight: bold;
    font-size: 18px;
    flex-basis: 20%;
}

.song-list {
    display: flex;
    justify-content: space-evenly;
}

.list-item {
    flex-basis: 20%;
}

.deleteButton{
    height: 30px;
    margin-top: 15px;
}