h1 {
    text-align: center;
}

.song-form {
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
    padding-top: 20px;
    padding-bottom: 20px;
}

.song-text {
    flex-basis: 20%;
}

.artist-text {
    flex-basis: 20%;
}

.genre-selection {
    flex-basis: 20%;
}

.rating-selection {
    flex-basis: 20%;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.song-header {
    background-color: rgb(216, 43, 43); 
}

.song-header__item { 
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.title-buttons {
    margin-left: 10px;
}

.sort-buttons-right {
    margin-left: 2px;
}

.song-list-row {
    background-color: rgb(219, 104, 96);
}

.list-item {
    color: white;
    text-align: center;
}
